<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Jan Schoepp's site</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<h1>Welcome!</h1>
					<p>This website was made by Jan Schoepp, and is a supplement to class CS643: Mobile innovations for global challenges.</p>
					<a href="/sendSMStoScharff" class="btn btn-primary btn-lg">Send sms to Dr. Scharff!</a>
					<a href="/sendSMS" class="btn btn-primary btn-lg">Send sms to Jan!</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h2>
				Heading 1
			</h2>
				<p>
					Donec id elit non mi porta gravida at eget metus.
					Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
					ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
					mollis euismod. Donec sed odio dui.
				</p>
				<p>
					<a class="btn" href="#">View details »</a>
				</p>
			</div>
			<div class="col-md-6">
				<h2>
				Heading 2
			</h2>
				<p>
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				</p>
				<p>
					<a class="btn" href="#">View details »</a>
				</p>
			</div>
		</div>
	</div>

</body>

</html>
