<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Jan Schoepp's site</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/journal/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<img src="img/poster.png" alt="QuizMaster Poster" class="img-responsive">
					<br>
						<a class="btn btn-primary btn-lg pull-right"
						href="https://docs.google.com/presentation/d/1psGEMlDFqjxsDwdXrL4hVLEH-LMFyW23lnk2gZxszdY/edit?usp=sharing"
						target="_blank">Learn more »</a>
						<br>
				</div>
			</div>

	</div>

</body>

</html>
