<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Jan Schoepp's site</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/journal/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<h1>QuizMaster!</h1>
					<p>To start using this service, text 'start' to +1 203 989-4740 and follow the instructions!
						<br> Start over at any time using the keyword 'restart'.
						<br><br> Join the fun today!</p>
						<a class="btn btn-link"
						href="https://docs.google.com/presentation/d/1psGEMlDFqjxsDwdXrL4hVLEH-LMFyW23lnk2gZxszdY/edit?usp=sharing"
						target="_blank">Learn more »</a>
				</div>
			</div>
		</div>
	</div>

</body>

</html>
